@{
    ViewData["Title"] = "HeheBoy";
}
@model Diplom.Models.Entity.Consultation;

<div class="text-center" style="height:100%">
    <div style="padding-top: 40px; padding-bottom: 40px">
        <h1>@Model.Name</h1>
        <p>Описание: @Model.Description</p>
        <p>Дата: @Model.Date</p>
        <form asp-controller="Home" asp-action="Sub" asp-route-id="@Model.Id" method="post">
            <button type="submit" class="btn btn-sm btn-danger">
                Записаться
            </button>
        </form>
    </div>
    
</div>
