@{
    ViewData["Title"] = "HeheBoy";
}
@model Diplom.Models.Entity.Consultation;

<div class="text-center" style="height:100%">
    <div style="padding-top: 40px; padding-bottom: 40px">
        <h1>@Model.Name</h1>
        <p>Описание: @Model.Description</p>
        <p>Дата: @Model.Date</p>
        <button type="button" class="btn btn-success me-2">Записаться</button>
    </div>
    
</div>
