@{
    ViewData["Title"] = "Home Page";
}
@model List<Diplom.Models.Account.User>;



<div class="text-center">
    @if (User.IsInRole("Professor"))
    {
        <div class="text-end">
            <button href="/Admin" type="button" class="btn btn-outline-dark me-2">
                <a class="px-2 text-black" style="text-decoration:none" asp-controller="Home" asp-action="GetUsers">Управление</a>
            </button>
        </div>
    }
</div>
